<% content_for :title do %>

My Transcript
<% end %>
<div class="blurb">
	<h4>Welcome <%= @student.name %>!</h4>
	<div id="student-info"  class="box">
		<div class="left"><a 
		href="<%= edit_student_path(@student) %>"><img 
		id="avatar" src="<%= @student.avatar.url(:small) %>" /></a><br />
			<%= link_to 'Edit', edit_student_path(@student) %><br />
			<span class="stat-title">Your GPA</span><br /> <span class="stat main-stat">3.27</span></div>
		<ul class="stats-current stat-numbers">
			<li id="stat-gas stat-<%= @student.gas %>" class="expandable">
				<!-- personal Gas usage stats -->
				Gas: <span class="stat"><%= @student.gas %></span></li>
			<li id="stat-electricity stat-<%= @student.electricity %>" class="expandable">
				<!-- personal Electricity usage stats -->
				Electricity: <span class="stat"><%= @student.electricity %></span> </li>
			<li id="stat-oil stat-<%= @student.oil %>" class="expandable">
				<!-- personal Oil usage stats -->
				Oil: <span class="stat"><%= @student.oil %></span> </li>
		</ul>
	</div>
  <%= link_to 'Download from Tendril', tendrils_show_path %>
	<table  class="stats">
		<caption>
		Friends Energy Usage
		</caption>
		<thead>
			<tr>
				<td></td>
				<th scope="col">Electricity</th>
				<th scope="col">Gas</th>
				<th scope="col">Oil</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row"><%= @student.name %> (me!)</th>
				<td><%= @student.electricity %></td>
				<td><%= @student.gas %></td>
				<td><%= @student.oil %></td>
			</tr>
			<tr>
				<th scope="row">Mary</th>
				<td>1901</td>
				<td>1602</td>
				<td>403</td>
			</tr>
			<tr>
				<th scope="row">Tom</th>
				<td>3155</td>
				<td>4033</td>
				<td>3044</td>
			</tr>
			<tr>
				<th scope="row">Brad</th>
				<td>1088</td>
				<td>1803</td>
				<td>1022</td>
			</tr>
			<tr>
				<th scope="row">Kate</th>
				<td>4022</td>
				<td>8022</td>
				<td>9022</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="suggestions"> </div>
