<h2>Log in</h2>

<%= link_to 'Log in with Facebook', student_omniauth_authorize_path(:facebook) %>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, :as => :boolean %>
  <% end -%>

  <%= f.submit "Log in" %>
<% end %>

<%= render :partial => 'devise/shared/links' %>
