<h2>Sign in</h2>

<%= link_to 'Sign in with Facebook', student_omniauth_authorize_path(:facebook) %>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me %>
  <% end -%>

  <%= f.submit "Sign in" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
