<%= semantic_form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :pencils_down_at, :as => :string, :hint => 'e.g. "2/13/12" or "next week"', :label => 'Ends on' %>

  <%= f.input :student_ids, :as => :check_boxes, :collection => Student.celebrities %>

  <%= f.buttons %>
<% end %>
