<% content_for :title do %>My Exam Stats<% end %>
<p id="notice"><%= notice %></p>

<section style="margin: 20px 30%">
  <h2>Participants</h2>
  <% @exam.students.each do |student| %>
    <div style="float:left; margin: 20px;">
      <img style="display: block;" src="<%= student.avatar.url(:large) %>">
      <%= student.name %>
    </div>
  <% end %>
</section>

<section style="clear: both;">
  <% if @exam.winner_id %>
    <p>
      <b>Winner:</b>
      <%= @exam.winner %>
    </p>
  <% end %>

  <p> <b>Pencils down at:</b> <%= @exam.pencils_down_at.to_formatted_s(:short) %> </p>
</section>
