<!DOCTYPE html>
<html>
<head>
<title>Energy GPA:<%= page_title %></title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<header>
		<div id="logo"><img src="images/logo.png" /></div>
		<div id="search"><form><input type="text" name="search-terms"/></form></div>
		<nav>
			<ul id="nav">
			<!-- if logged in user -->
				<li><img id="avatar-sm" alt="<%= student_name %>" /><%= student_name %>
					<ul class="nav subnav shortcuts">
						<li>My Profile</li>
						<li>My Competitions</li>
						<li>Logout</li>
					</ul>
				</li>
				<!--else -->
				<li>Login</li>
				<!--end if -->
				<li>Competitions</li>
				<li>Help</li>
			</ul>
		</nav>
	</header>
	<div id="main"> <%= yield %> </div>
	<footer>
		<p>&copy; 2011 Energy GPA</p>
		<p><a href="#">terms of use</a></p>
		<p>Contact Information</p>
	</footer>
</div>
</body>
</body>
</html>
